.card {
    height: 5rem;
    width: 5rem;
    margin: 1rem;
    border-radius: 5px;
    text-align: center;
    background-color: #3498db;
    color: white;
}

.card > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card:hover {
    background-color: #2980b9;
}

.translucent div{
    opacity: .6;
}
