body {
    font-family: sans-serif;
}

[ng-click] {

}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    border: none;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}

#remove-cards {
    background-color: #e67e22;
}

#start-game {
    background-color: #2ecc71;
}

#reset-game {
    background-color: #f1c40f;
}